.tablemain {
     border-collapse: collapse;
     text-align: center;
     margin: 0 0 0 25px;
     width: 300px;
     font-family: "ÉÅÉCÉäÉI", sans-serif;
     }

.tablemain td {
     border: solid 1px #000;
     height: 25px;
     }

.titles td {
     font-weight: bold;
     font-size: 18px;
     border: none;
     }

.calSun {
     background: #fee;
     }

.calSun, .calSunTit {
     color: #f00;
     }

.calSat {
     background: #eef;
     }

.calSat, .calSatTit {
     color: #00f;
     }

.titleLine {
     font-weight: bold;
     background: #eee;
     }

.calToday {
     font-weight: bold;
     background: #ff2;
     }